PDT.PanasonicDisplay.EPI/bin/
PDT.PanasonicDisplay.EPI/obj/Debug/ResolveAssemblyReference.cache
PDT.PanasonicDisplay.EPI/obj/Debug/PDT.PanasonicDisplay.EPI.pdb
PDT.PanasonicDisplay.EPI/obj/Debug/PDT.PanasonicDisplay.EPI.dll
PDT.PanasonicDisplay.EPI/obj/Debug/PDT.PanasonicDisplay.EPI.csproj.FileListAbsolute.txt
